/* hide the elements which I don't care */

/* hide any promo flags on product cells */
.item-detail_flag--flag {
	display: none !important;
}

/* hide category image in browse aisles */
.item-container_child--with-image img{
	display: none !important;
}

/* hide express shop, favorite, delivery time from nav */
.navigation.header-nav_link-container li:nth-child(5),
.navigation.header-nav_link-container li:nth-child(7),
.navigation.header-nav_link-container li:nth-child(8){
	display: none !important;
}

/* hide hello message and notification count */
main .header-theme--subheader:nth-child(1){
	display: none !important;
}

/* special promo left and right padding */
/* splash page item accordion container paddding adjust */
.product-view_specials--header,
.splash-page_content-item .accordion_container {
	max-width: 124rem !important;
	padding: 0 2rem;
	margin: 0 auto;
}

/* splash page text block padding change */
.splash-page_copy-block {
	max-width: 118rem !important;
}

/* larger font size for text block in splash page */
.splash-page_copy-block .splash-page_copy {
	font-size: 2.2rem !important;
	line-height: 3.1rem !important;
}

.splash-page_copy-header {
	font-size: 3.4rem !important;
	line-height: 4rem !important;
}


