/* hide the elements which I don't care */
/* hide any promo flags on product cells */
.refined-peapod_custom-css-enabled .item-detail_flag--flag {
	display: none !important;
}

/* hide category image in browse aisles */
.refined-peapod_custom-css-enabled .item-container_child--with-image img {
	display: none !important;
}

/* hide delivery time and help menu from nav */
.refined-peapod_custom-css-enabled .navigation.header-nav_link-container li:nth-child(8),
.refined-peapod_custom-css-enabled .navigation.header-nav_link-container li:nth-child(9) {
	display: none !important;
}

/* special promo left and right padding */
/* splash page item accordion container padding adjust */
.refined-peapod_custom-css-enabled .product-view_specials--header,
.refined-peapod_custom-css-enabled .splash-page_content-item .accordion_container {
	max-width: 124rem !important;
	padding: 0 2rem;
	margin: 0 auto;
}

/* splash page text block padding change */
.refined-peapod_custom-css-enabled .splash-page_copy-block {
	max-width: 118rem !important;
}

/* larger font size for text block in splash page */
.refined-peapod_custom-css-enabled .splash-page_copy-block .splash-page_copy {
	font-size: 2.2rem !important;
	line-height: 3.1rem !important;
}

.refined-peapod_custom-css-enabled .splash-page_copy-header {
	font-size: 3.4rem !important;
	line-height: 4rem !important;
}

/* More breathing room between content regions */
.refined-peapod_custom-css-enabled .generic-content_trailer--xsmall {
	margin-bottom: 3rem !important;
}
